.body{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header{
    font-size: 60px;
    font-weight: bold;
    border-bottom: 12px;
}

.timer{
    min-width: 210px;
    max-width: 400px;
    font-size: 40px;
    font-weight: 800;
    padding: 8px;
    border: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.countdown{
    display: flex;
    background-color: aliceblue;
}

input{
    font-size: 40px;
    font-weight: 800;
    border: none;
    min-width: 55px;
    max-width: 85px;
    text-wrap: inherit;
    display: flex;
    justify-content: center;
    text-align: center;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

button{
    padding: 10px 16px 10px 16px;
    border-radius: 16px;
    border-color: antiquewhite;
    background-color: aliceblue;
    font-size: 10px;
    font-weight: 800;
    gap: 4px;
}

span{
    font-size: 40px;
    font-weight: 800;
    border: none;
    min-width: 55px;
    max-width: 85px;
    text-wrap: inherit;
    display: flex;
    justify-content: center;
    text-align: center;
}

hr{
    width: 1200px;
}

.lapCard{
    width: 1000px;
    padding: 8px 16px;
    background-color: aliceblue;
    border-radius: 8px;
    margin: 8px;   
}